$background-color:  #008FD5;
$value-color:       #fff;

.widget-rdio {
    background-color: $background-color;

    img {
        float: left;
    }

    .track, .artist {
        color: $value-color;
    }
}